<!-- Footer Area -->
<footer id="footer" class="footer ">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-footer">
            <div class="logo mb-1">
              <img ngSrc="/assets/img/logo3.png" alt="#" height="50" width="200">
            </div>
            <p>Ecole Nationale des Sciences Appliquées</p>
            <p>Adresse : campus universitaire, B.P 241, Kénitra - Maroc</p>
            <p>Tél : (+212) 5 37 32 94 48/(+212) 5 37 37 67 65</p>
            <p>Fax : (+212) 5 30 21 45 79</p>
          </div>
        </div>


        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer">
            <h2>Liens utiles</h2>
            <ul class="f-link" style="color: white">
              <li><a [routerLink]="['']"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>Accueil</a></li>
              <li><a [routerLink]="['/filiere-details']"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>Description des Filieres</a></li>
              <li><a [routerLink]="['/Filire-list']"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>List des Filieres</a></li>
              <li><a [routerLink]="['']" fragment="contact"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>Contactez nous</a></li>
              <li><a [routerLink]="['']" fragment="camment_ca_marche"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>Comment ca marche</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer">
            <h2>Liens Externes</h2>
            <ul class="f-link" style="color: white">
              <li><a href="http://ent.uit.ac.ma/ent/"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>ENT</a></li>
              <li><a href="https://ensa.uit.ac.ma/formation-initiale/"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>Formation</a></li>
              <li><a href="https://ensa.uit.ac.ma/"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>Espace Etudiant</a></li>
              <li><a href="https://ensa.uit.ac.ma/activites-parascolaires/clubs-et-associations/"><i class="fa fa-caret-right mr-1" aria-hidden="true"></i>Activités Parascolaires</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <div class="single-footer">
            <h2>réseaux sociaux</h2>
            <ul class="social" style="color: white">
              <li><a href="https://www.facebook.com/ensak.uit/?locale=fr_FR"><i class="icofont-facebook"></i></a></li>
              <li><a href="https://ensa.uit.ac.ma/"><i class="icofont-google-plus"></i></a></li>
              <li><a href="https://www.linkedin.com/school/ensakenitra/"><i class="icofont-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->

</footer>
<!--/ End Footer Area -->
