<!-- Start Contact Us -->
<section class="contact-us section">
  <div class="container">
    <div class="inner">
      <div class="row">
        <div class="col-lg-6">
          <div class="contact-us-left">
            <!--Start Google-map -->
            <div id="myMap" class="mt-2 mt-sm-3 mt-md-4 mt-lg-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                   class="img-fluid" alt="Phone image">
            </div>

            <!--/End Google-map -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-us-form">
            <h2>Se Connecter</h2>
            <p>Bienvenue sur votre espace.</p>
            <!-- Form -->
            <form class="form" method="post" action="mail/mail.php">
              <div class="row">

                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="email" name="email" placeholder="Email" required="">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="password" name="password" placeholder="mot de passe" required="">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-check d-flex align-items-center">
                      <input class="form-check-input" type="checkbox" id="form2Example3" style="width: 1.5em; height: 1.5em; margin-right: 0.5em;" />
                      <label class="form-check-label" for="form2Example3" style="font-size: 1em; font-weight: 500;">
                        Remember me
                      </label>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <a href="#!" class="text-body primary" style="color: #044fef">Forgot password?</a>
                  </div>
                </div>


                <div class="col-12">
                  <div class="form-group login-btn">
                    <button class="btn" type="submit">Se connecter</button>
                  </div>

                  <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                  </div>

                  <a data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                     role="button">
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

                    <i class="fab fa-google me-2" style="margin: 3px"></i> Continue with Google
                  </a>

                </div>
              </div>
            </form>
            <!--/ End Form -->
          </div>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <div class="row">
        <!-- single-info -->
        <div class="col-lg-4 col-12 ">
          <div class="single-info">
            <i class="icofont icofont-ui-call"></i>
            <div class="content">
              <h3>+(000) 1234 56789</h3>
              <p>info.company.com</p>
            </div>
          </div>
        </div>
        <!--/End single-info -->
        <!-- single-info -->
        <div class="col-lg-4 col-12 ">
          <div class="single-info">
            <i class="icofont-google-map"></i>
            <div class="content">
              <h3>2 Fir e Brigade Road</h3>
              <p>Chittagonj, Lakshmipur</p>
            </div>
          </div>
        </div>
        <!--/End single-info -->
        <!-- single-info -->
        <div class="col-lg-4 col-12 ">
          <div class="single-info">
            <i class="icofont icofont-wall-clock"></i>
            <div class="content">
              <h3>Mon - Sat: 8am - 5pm</h3>
              <p>Sunday Closed</p>
            </div>
          </div>
        </div>
        <!--/End single-info -->
      </div>
    </div>
  </div>
</section>
<!--/ End Contact Us -->
