
<!-- Section: Design Block -->
<section>
  <div class="mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" >
    <div class="card-body">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-2 text-center">Choissez votre filire</h2>
          <h5 style=" margin-bottom:20px" class="text-center">Cet espace vous permet de modifier votre mot de passe pour des raisons de sécurité.</h5>
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="password1">Mot de passe actuel</label>
              <input type="password" id="password1" class="form-control" />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="password2">Nouveau mot de passe</label>
              <input type="password" id="password2" class="form-control" />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="password3">Confirmer le mot de passe</label>
              <input type="password" id="password3" class="form-control" />
            </div>
            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
              Valider
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
