<!-- Slider Area -->
<section class="slider">
  <!--div class="hero-slider" -->
    <!-- Start Single Slider -->
    <div class="single-slider" style="background-image:url('assets/img/ensak.png');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="text">
              <h1 class="mb-4" style="color: white">Ecole Nationale des Sciences Appliquées Kénitra</h1>
              <h2 style="color: white">المدرسة الوطنية للعلوم التطبيقية <span>بالقنيطرة</span></h2>
              <div class="button">
                <a [routerLink]="['/choix-filire']" class="btn">Choisissez votre filière</a>
                <a href="#blog" class="btn primary">Apprendre encore plus</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--  <div class="single-slider" style="background-image:url('assets/img/ensak2.png');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="text">
            <h1 class="mb-4" style="color: white">Ecole Nationale des Sciences Appliquées Kénitra</h1>
            <h2 style="color: white">المدرسة الوطنية للعلوم التطبيقية <span>بالقنيطرة</span></h2>
            <div class="button">
              <a [routerLink]="['/choix-filire']" class="btn">Choisissez votre filière</a>
              <a href="#blog" class="btn primary">Apprendre encore plus</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->

    <!-- End Single Slider -->
<!--/div-->
</section>
<!--/ End Slider Area -->

<!-- Start Schedule Area -->
<section class="schedule">
  <div class="container">
    <div class="schedule-inner">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 ">
          <!-- single-schedule -->
          <div class="single-schedule first">
            <div class="inner">
              <div class="icon">
                <i class="icofont-presentation"></i>
              </div>
              <div class="single-content">
                <h4>Présentation</h4>
                <p>L’Ecole Nationale des Sciences Appliquées de Kénitra (ENSAK) a été créée en 2008 ...</p>
                <a href="https://ensa.uit.ac.ma/ensa/presentation/">VOIR PLUS<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- single-schedule -->
          <div class="single-schedule middle">
            <div class="inner">
              <div class="icon">
                <i class="icofont-building-alt"></i>
              </div>
              <div class="single-content">
                <h4>Infrastructures</h4>
                <p>l’ENSAK dispose de locaux complets et équipés de tout ce dont les étudiants ont besoin.</p>
                <a href="https://ensa.uit.ac.ma/ensa/infrastructures/">VOIR PLUS<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <!-- single-schedule -->
          <div class="single-schedule last">
            <div class="inner">
              <div class="icon">
                <i class="icofont-building-alt"></i>
              </div>
              <div class="single-content">
                <h4>Départements</h4>
                <ul class="time-sidual">
                  <li class="day">Département Informatique...</li>
                  <li class="day">Département Génie Electrique...</li>
                  <li class="day">Enseignements Généraux.</li>
                </ul>
                <a href="https://ensa.uit.ac.ma/ensa/departements/">VOIR PLUS<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/End Start schedule Area -->

<!-- Start Feautes -->
<section class="Feautes section" id="camment_ca_marche">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Comment vous devez choisir votre filire ? </h2>
          <p>Voici les étapes nécessaires à suivre pour choisir votre filière.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12">
        <!-- Start Single features -->
        <div class="single-features">
          <div class="signle-icon">
            <i class="icofont-read-book"></i>
          </div>
          <h3>Etape 1</h3>
          <p></p>
          <p>
            <a [routerLink]="['/Filire-list']">Lisez attentivement les descriptions des filières pour en savoir plus et décider de l'ordre le plus approprié pour vous.</a>
          </p>

        </div>
        <!-- End Single features -->
      </div>
      <div class="col-lg-4 col-12">
        <!-- Start Single features -->
        <div class="single-features">
          <div class="signle-icon">
            <i class="icofont-check-circled"></i>
          </div>
          <h3>Etape 2</h3>
          <p>
            <a [routerLink]="['/choix-filire']">Remplissez le formulaire de choix de filière en spécifiant vos informations et l'ordre des filières puis confirmer votre ordre.</a>
          </p>
        </div>
        <!-- End Single features -->
      </div>
      <div class="col-lg-4 col-12">
        <!-- Start Single features -->
        <div class="single-features last">
          <div class="signle-icon">
            <i class="icofont-list"></i>
          </div>
          <h3>Etape 3</h3>
          <p>
            Affichage des résultats de chaque filière à la date choisie par l'administration.
          </p>

        </div>
        <!-- End Single features -->
      </div>
    </div>
  </div>
</section>
<!--/ End Feautes -->

<!-- Start Fun-facts -->
<div id="fun-facts" class="fun-facts section overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Fun -->
        <div class="single-fun">
          <i class="icofont-users-alt-2"></i>
          <div class="content">
            <span class="counter">60</span>
            <p>Professeur</p>
          </div>
        </div>
        <!-- End Single Fun -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Fun -->
        <div class="single-fun">
          <i class="icofont-user-suited"></i>
          <div class="content">
            <span class="counter">28</span>
            <p>Administratifs</p>
          </div>
        </div>
        <!-- End Single Fun -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Fun -->
        <div class="single-fun">
          <i class="icofont-school-bag"></i>
          <div class="content">
            <span class="counter">5</span>
            <p>Filiere</p>
          </div>
        </div>
        <!-- End Single Fun -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Fun -->
        <div class="single-fun">
          <i class="icofont-student-alt"></i>
          <div class="content">
            <span class="counter">1697</span>
            <p>Etudiant</p>
          </div>
        </div>
        <!-- End Single Fun -->
      </div>
    </div>
  </div>
</div>
<!--/ End Fun-facts -->

<!-- Start Blog Area -->
<section class="blog section" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Voir les details de chaque filier</h2>
          <p>l’ENSAK vise à préparer des ingénieurs hautement qualifiés et polyvalents, capables de répondre aux défis technologiques et industriels actuels.</p>
          <a [routerLink]="['/Filire-list']" class="btn mt-2" style="color: white">Voir toutes les Filières</a>

        </div>
      </div>
    </div>
    <div class="row" id="details">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Single Blog -->
        <div class="single-news">
          <div class="news-head">
            <img src="assets/img/bigdata.png" alt="#">
          </div>
          <div class="news-body">
            <div class="news-content">
              <div class="date">22 Aug, 2020</div>
              <h2><a [routerLink]="['/filiere-details']">Big data</a></h2>
              <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
            </div>
          </div>
        </div>
        <!-- End Single Blog -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Single Blog -->
        <div class="single-news">
          <div class="news-head">
            <img src="assets/img/bigdata.png" alt="#">
          </div>
          <div class="news-body">
            <div class="news-content">
              <div class="date">15 Jul, 2020</div>
              <h2><a [routerLink]="['/filiere-details']">Big data</a></h2>
              <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
            </div>
          </div>
        </div>
        <!-- End Single Blog -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Single Blog -->
        <div class="single-news">
          <div class="news-head">
            <img src="assets/img/bigdata.png" alt="#">
          </div>
          <div class="news-body">
            <div class="news-content">
              <div class="date">05 Jan, 2020</div>
              <h2><a [routerLink]="['/filiere-details']">Big data</a></h2>
              <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
            </div>
          </div>
        </div>
        <!-- End Single Blog -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Single Blog -->
        <div class="single-news">
          <div class="news-head">
            <img src="assets/img/bigdata.png" alt="#">
          </div>
          <div class="news-body">
            <div class="news-content">
              <div class="date">05 Jan, 2020</div>
              <h2><a [routerLink]="['/filiere-details']">Big data</a></h2>
              <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
            </div>
          </div>
        </div>
        <!-- End Single Blog -->
      </div>
    </div>
  </div>
</section>
<!-- End Blog Area -->

<!-- Start Appointment -->
<section class="appointment" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title m-0">
          <h2>Contactez nous</h2>
          <p>Contactez-nous pour plus d'informations sur les filières disponibles à l'ENSAK.</p>
        </div>
      </div>
    </div>

    <!-- Start Contact Us -->
    <section class="contact-us section">
      <div class="container">
        <div class="inner">
          <div class="row">
            <div class="col-lg-6">
              <div class="contact-us-left">
                <!--Start Google-map -->
                <div id="map"></div>

                <!--/End Google-map -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="contact-us-form">
                <h2>Contact With Us</h2>
                <p>If you have any questions please fell free to contact with us.</p>
                <!-- Form -->
                <form class="form" method="post" action="mail/mail.php">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" name="name" placeholder="Name" required="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="email" name="email" placeholder="Email" required="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" name="phone" placeholder="Phone" required="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" name="subject" placeholder="Subject" required="">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <textarea name="message" placeholder="Your Message" required=""></textarea>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group login-btn">
                        <button class="btn" type="submit">Send</button>
                      </div>

                    </div>
                  </div>
                </form>
                <!--/ End Form -->
              </div>
            </div>
          </div>
        </div>
        <div class="contact-info">
          <div class="row">
            <!-- single-info -->
            <div class="col-lg-4 col-12 ">
              <div class="single-info">
                <i class="icofont icofont-ui-call"></i>
                <div class="content">
                  <h3>(+212) 5 30 21 45 79</h3>
                  <p>
                    <a href="mailto:ensa.kenitra@uit.ac.ma">ensa.kenitra&#64;uit.ac.ma</a>
                  </p>
                </div>
              </div>
            </div>
            <!--/End single-info -->
            <!-- single-info -->
            <div class="col-lg-4 col-12 ">
              <div class="single-info">
                <i class="icofont-google-map"></i>
                <div class="content">
                  <h3>BP 241 Av. de L’Université,</h3>
                  <p>Kénitra 14000</p>
                </div>
              </div>
            </div>
            <!--/End single-info -->
            <!-- single-info -->
            <div class="col-lg-4 col-12 ">
              <div class="single-info">
                <i class="icofont icofont-wall-clock"></i>
                <div class="content">
                  <h3>Lundi – Vendredi: 9am - 4pm</h3>
                  <p>Dimanche - Fermé</p>
                </div>
              </div>
            </div>
            <!--/End single-info -->
          </div>
        </div>
      </div>
    </section>
    <!--/ End Contact Us -->

    <!-- Footer Area -->
  </div>
</section>
<!-- End Appointment -->

