<!-- Start Contact Us -->
<section class="contact-us section">
  <div class="container">
    <div class="inner">
      <div class="row">
        <div class="col-lg-6">
          <div class="contact-us-left">
            <!--Start Google-map -->
            <div id="myMap" class="mt-2 mt-sm-3 mt-md-4 mt-lg-5">


            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="contact-info">
      <div class="row">
        <!-- single-info -->
        <div class="col-lg-4 col-12 ">
          <div class="single-info">
            <i class="icofont icofont-ui-call"></i>
            <div class="content">
              <h3>+(000) 1234 56789</h3>
              <p>info.company.com</p>
            </div>
          </div>
        </div>
        <!--/End single-info -->
        <!-- single-info -->
        <div class="col-lg-4 col-12 ">
          <div class="single-info">
            <i class="icofont-google-map"></i>
            <div class="content">
              <h3>2 Fir e Brigade Road</h3>
              <p>Chittagonj, Lakshmipur</p>
            </div>
          </div>
        </div>
        <!--/End single-info -->
        <!-- single-info -->
        <div class="col-lg-4 col-12 ">
          <div class="single-info">
            <i class="icofont icofont-wall-clock"></i>
            <div class="content">
              <h3>Mon - Sat: 8am - 5pm</h3>
              <p>Sunday Closed</p>
            </div>
          </div>
        </div>
        <!--/End single-info -->
      </div>
    </div>
  </div>
</section>
<!--/ End Contact Us -->
