<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
  <div class="container">
    <div class="bread-inner">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4">Ecole Nationale des Sciences Appliquées</h2>
          <h2>المدرسة الوطنية للعلوم التطبيقية</h2>
          <ul class="bread-list">
            <li><a [routerLink]="['']">Home</a></li>
            <li><i class="icofont-simple-right"></i></li>
            <li class="active">List des filier</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>List des filière</h2>
          <p> l’ENSAK vise à préparer des ingénieurs hautement qualifiés et polyvalents, capables de répondre aux défis technologiques et industriels actuels.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont-data"></i>
          <h4><a href="service-details.html">Option Big data</a></h4>
          <p>L’objectif principal visé par l’équipe pédagogique est de former de véritables professionnels polyvalents  maîtrisant les techniques informatiques </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont-computer"></i>
          <h4><a href="service-details.html">génie logiciel et DevOps</a></h4>
          <p>La filière « Big Data » forme des experts en gestion et analyse des données massives, avec des compétences en IA, machine learning et cloud.</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont-computer"></i>
          <h4><a href="service-details.html">génie logiciel et DevOps</a></h4>
          <p>L’objectif principal visé par l’équipe pédagogique est de former de véritables professionnels polyvalents  maîtrisant les techniques informatiques </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont-computer"></i>
          <h4><a href="service-details.html">génie logiciel et DevOps</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus dictum eros ut imperdiet. </p>
        </div>
        <!-- End Single Service -->
      </div>

    </div>
  </div>
</section>
